@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, #f552c7, #262262);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
}
